.header {
    display: flex;
    align-items: center;
    padding: 2rem;
    position: fixed;
    width: 100%;
    height: 150px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add drop shadow effect */
    background-color: white; /* Ensure the header has a background color for the shadow to be visible */
}

.header-bg {
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

.nav-menu {
    display: flex;
    margin-left: 2rem; /* Adjust spacing between logo and nav items */
}

.nav-menu li {
    padding: 0 1rem;
}

.nav-menu li a {
    font-size: 1.2rem;
    font-weight: 500;
}

.hamburger {
    display: none;
    margin-left: auto; /* Ensures the hamburger icon stays on the right side in mobile view */
}

@media screen and (max-width: 767px) {
    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        top: 0;
        left: -110%;
        z-index: -3;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: -7.5%;
    }

    .nav-menu li {
        padding: 1rem 0;
    }

    .nav-menu li a {
        font-size: 2rem;
    }

    .hamburger {
        display: initial;
    }
}

.logo-link {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    width: 75px; /* Adjust the size of the logo image as needed */
    margin-right: 10px; /* Adjust the spacing between the logo image and text */
  }
  